<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
  <header>
    Header
    <hr>
  </header>

  <form th:action="@{/login}" method="post">

<!-- Spring Security의 기본 로그인 폼에서는 name="username" -->
    <label for="username">email</label>
    <input id="username" name="username" type="text"  >
    <label for="password">Password</label>
    <input id="password" name="password" type="password" required>

    <button type="submit">Login</button>

    <!-- 로그인 실패 시 오류 메시지 출력 -->
    <div th:if="${param.error}">
      <p style="color: red;" th:text="${param.error}">Invalid username or password.</p>
    </div>

  </form>

  <footer>
    <hr>
    Footer
  </footer>

</body>

<script>
  document.querySelector("form").addEventListener("submit", async function (event) {
    try {
      event.preventDefault();

      const formData = {
        email: document.getElementById("username").value,
        password: document.getElementById("password").value
      };


      const response = await fetch("/login", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify(formData)
      })
      console.log("response: ",response)
      const responseData = await response.json()

      console.log("responseData: ",responseData)

      if (responseData.success) {
        alert("✅로그인 성공!");
        const accessToken = responseData.data.accessToken
        // Access Token 저장
        sessionStorage.setItem("accessToken", accessToken);

        console.log(accessToken)

          // 메인 페이지 이동
        window.location.href = "/main";

      } else {
        alert("❌로그인 실패");
      }

    }catch (error) {
      console.error("Error:", error);
    }

  });

  async function getMainPage(token){
    try {
      console.log("get main page")
      await fetch("/", {
        method: "GET",
        headers: {
          "Authorization": `Bearer ${token}`,
          "Accept": "text/html"
        }
      })

    }catch (error) {
      console.error("Error:", error);
    }

  }
</script>

</html>