<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 화면</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" 
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main_style.css">
    <link rel="stylesheet" type="text/css" href="/css/navBar.css">
</head>
<body>
	<header class="header-container">
	    <div class="search-user-container">
	        <!-- 검색창과 정렬 버튼 -->
	        <div class="search-container">
	            <button class="sort-btn">Sort ▼</button>
	            <input type="text" class="form-control" placeholder="검색어를 입력하세요">
	            <button class="btn btn-primary"> 🔍 검색</button>
	        </div>
	
	        <!-- 유저 정보 -->
	        <div class="user-container">
	            <div class="user-info">
	                <span>안녕하세요, <span class="nickname">OOO</span>님</span>
	            </div>
	        </div>
	    </div>
	</header>
	
	<!-- 박스 리스트 -->
	<div class="container position-relative">
	    <div id="box-container"></div>
	</div>
	
	<!-- 다운로드 / 삭제 버튼 -->
	<div id="action-buttons-container" class="action-buttons">
	    <button id="download-btn" class="round-btn download-btn">⬇</button>
	    <button id="delete-btn" class="round-btn delete-btn">🗑</button>
	</div>
	
	<!-- 추가 버튼 -->
	<button class="new-box-btn" onclick="window.location.href='/box'">+</button>
    
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Custom JS -->
    <script src="/js/main_script.js"></script>
    <script src="/js/auth.js"></script>
</body>
</html>
