<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Box 생성</title>
    <link rel="stylesheet" href="/css/box_form.css">
    <script src="/js/auth.js"></script>
    <script src="/js/new_box.js"></script>
</head>
<body>
    <div class="container">
        <h2>Box 생성</h2>
        <form onsubmit="createBox(event)">
            <label for="name">이름</label>
            <input type="text" id="name" name="name" placeholder="Box 이름을 입력해주세요." required>

            <label>모임 날짜</label>
            <div class="date-group">
                <input type="date" id="eventStartDate" name="eventStartDate" required onchange="validateDates()">
                <input type="date" id="eventEndDate" name="eventEndDate" required onchange="validateDates()">
            </div>

            <button type="submit">생성</button>
        </form>
    </div>
</body>
</html>
